
.title{
  color:blueviolet;
}

.table {
  text-align: center;
  background-color: burlywood;
  border-color: black;

}


.background {
  background-color: rgb(238, 238, 238);
  box-shadow: 2px 2px 10px 3px rgb(225,225,225);
  width: relative;
}




.reviewsContainer{
  margin: 2rem auto;
  display:flex;
  background-color: thistle;
  border-style:solid;
  height: 400px;
  width: 800px;
  overflow: hidden;
  border-radius: 0.5%;
  flex-direction: row;

  /* flex-wrap: wrap; */
  align-items: baseline;

}

.bodyreview{
  margin: 1.75 rem auto;
  order: 4;
  border-style:solid;
  border-color: black;
  border: thick;
  width: 300px ;
  padding: 20px;
  position: relative;
  left: 0;
  /* flex:1; */
}
/* //-173% */
/* .headreview{
  border-style:solid;
  margin: 1.75rem auto;
  width:150px;
  height:150px;
} */

.overreview{
  /* border-style:solid; */
  /* background-color:rgb(195, 152, 236); */
  border-radius: 25px;
  width:300px;
  height:350px;
  text-size-adjust: auto;

  padding: .50rem auto;

}

.namereview{
  font-size: 1.5rem auto;
  color: rgb(50,50,50);
  margin: .50rem auto;
  padding-top: 20px;
  text-align: center;
  color:white;
}

.datereview{
  font-size: .9rem auto;
  color: rgb(50,50,50);
  margin-bottom: .50rem;
  text-align: center;
  color:white;
}

.textreview{
  font-size: 1.25rem auto;
  color: rgb(50,50,50);
  margin: .50rem;
  text-align: center;
  color:white;
}

.likesreview{
  font-size: 1.15rem auto;
  color: rgb(50,50,50);
  padding: 0.5rem;
  text-align: left;
  color:white;
}

.button {
    border-color: transparent;
    margin: 0px;
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    display: inline-block;
    color: rgb(59, 65, 68);
    text-align: center;
    font-weight: bold;
    transition: top 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s;
    white-space: nowrap;
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 16px;

}

.staticcontainer {
  padding: 20px;
  border-spacing: 50px 0;

}

.list {
  margin: 0px;
  padding: 20px;
  font-family: TruliaSans, system, -apple-system, Roboto, "Segoe UI Bold", Arial, sans-serif;
  color: rgb(59, 65, 68);
  background-color: transparent;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.1px;
  border: solid;
  border-spacing: 50px 0;
}
/* "name-review">{data.user}</div>
  <div className = "date-review">{data.date}</div>
  <div className="text-review">{data.text}</div>
  <div className="likes-review" */

.thumb {
  height: 30px;
  width: 30px;
  display: inline-table;
  margin-right: 0;
  padding-right: 0;

}

/* .listitem {
  display: inline-table;
} */

.modalBackground {
  opacity: 0;
  pointer-events: none;
}

.ModalContent { /* this is  wrapper for the modal content*/
  position: relative;
  background-color:black;
  margin: 3rem;  /* this is roughtly 48px from top bottom */
  padding: 0;
  border: 1px solid #888;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  overflow: hidden; /* hides anything that goes beyond the limits of modal content*/
}

.Modal {
  position: fixed; /* stays fixed on window */
  z-index: 9; /* on top of current content */
  left: 0;
  top: 0;
  width: 100%; /* fills the enire width of page */
  height: 100%;
  background-color: rgba(0,0,0,0.4);  /* last value is the tranparency */
}

.backarrow{
position: absolute;

}