
.title{
  color:blueviolet;
}

.background {
  background-color: rgb(245, 246, 247);
  width: 992px;
  height: 789px;
  position: center;
}

.titletext {
  font-family: TruliaSans;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: rgb(59, 65, 68);
    margin: 5px;
}

.ptext {
  color: rgb(134, 144, 153);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.1px;
  margin: 0px;
  text-align: left;
}


.thumb {

  font-weight: bold;
  display: block;
  height: 24px;
  width: 24px;
  font-size: 16px;
  margin-right: 10px;
  padding-right: 10px;
  letter-spacing: -0.1px;
  text-align: left;
}

.votepercentage{
  color: rgb(0, 120, 130);
  font-weight: bold;

  height: 48px;
  width: 22px;
  font-size: 16px;
  margin-right: 10px;
  padding-right: 10px;
  letter-spacing: -0.1px;
  text-align: left;
}

.votetext {
  align-items: center;
  display: inline-flex;
  width:156px;
  min-height:48;
  line-height: 1.43;
  color: rgb(59, 65, 68);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.1px;
  text-align: left;
  margin-right: 10px;
  padding-right: 10px;
}

.Voterbutton {
  color: rgb(59, 65, 68);
  background-color: rgb(255, 255, 255);
  border-color:rgb(205, 209, 212);
  font-size: 16px;
  line-height: 1.5;
  padding: 8px 16px;
  transition: top 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s;
  text-align: center;
  font-weight: bold;
  border-color: transparent;
  margin: 0px;
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  display: inline-block;
  text-align: left;
}

.paragraphtext{
  color: rgb(134, 144, 153);
  font-size: 12px;
  line-height: 1.33;
  outline: none;
  text-align: left;
}

.button {
  border-color: transparent;
  margin: 0px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  display: inline-block;
  color: rgb(59, 65, 68);
  text-align: center;
  font-weight: bold;
  transition: top 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px 16px;
}


.Slider{

  display:flex;

  height: 419px;
  width: 960px;
  overflow-x: scroll ;

  flex-direction: row;
  position: relative;
  /* flex-wrap: wrap; */
  align-items: baseline;
  scroll-behavior: smooth;

}
.Slider::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.slideLeft{
  position: absolute;
  left: 400px;
  display:none;
  border-color: transparent;
  margin: 0px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;

  color: rgb(59, 65, 68);
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  padding: 8px 16px;
}

.slideRight{
position: absolute;
left: 500px;
border-color: transparent;
margin: 0px;
border-radius: 8px;
border-width: 1px;
border-style: solid;
cursor: pointer;
display: inline-block;
color: rgb(59, 65, 68);
text-align: center;
font-weight: bold;
font-size: 16px;
  line-height: 1.5;
  padding: 8px 16px;
}

.slideAll {
position: absolute;
left: 500px;
display: none;
z-index: 9;
border-color: transparent;
margin: 0px;
border-radius: 8px;
border-width: 1px;
border-style: solid;
cursor: pointer;
color: rgb(59, 65, 68);
text-align: center;
font-weight: bold;
font-size: 16px;
  line-height: 1.5;
  padding: 8px 16px;
}

.overreview{
  border-radius: 25px;
  width:228px;
  height:345px;
  margin: 6px;
  padding: .50rem auto;
  margin-top: 30px;

}

.namereview{
  font-size: 1.5rem auto;
  color: rgb(50,50,50);
  margin: .50rem auto;
  padding-top: 20px;
  text-align: center;
  color:white;
}

.datereview{
  font-size: .9rem auto;
  color: rgb(50,50,50);
  margin-bottom: .50rem;
  text-align: center;
  color:white;
  overflow: hidden;
}

.textreview{
  font-size: 1.25rem auto;
  color: rgb(50,50,50);
  margin: .50rem;
  text-align: center;
  color:white;
  width: 206px;
  height: 90px;
  overflow: hidden;
}

.likesreview{
  font-size: 1.15rem auto;
  color: rgb(50,50,50);
  padding: 0.5rem;
  text-align: left;
  color:white;
  line-height: 1;
}

.list {
  margin: 0px;
  padding: 20px;
  font-family: TruliaSans, system, -apple-system, Roboto, "Segoe UI Bold", Arial, sans-serif;
  color: rgb(59, 65, 68);
  background-color: transparent;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.1px;
  border: solid;
  border-spacing: 50px 0;

}

.ModalContent { /* this is  wrapper for the modal content*/
  /* position: relative; */
  background-color:white;
  height: 600px;
  width:982px;
  margin: 3rem;  /* this is roughtly 48px from top bottom */
  padding: 0;
  border: 1px solid #888;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  display: flex;
    flex-wrap: wrap;
  overflow: scroll; /* hides anything that goes beyond the limits of modal content*/
}

.Modal {
  position: fixed; /* stays fixed on window */
  z-index: 9; /* on top of current content */
  left: 0;
  top: 0;
  width: 100%; /* fills the enire width of page */
  height: 100%;
  background-color: rgba(0,0,0,0.4);  /* last value is the tranparency */
}

.SingleReview {
  position: absolute;
  left: 300px;
  top: 100px;

}

.SingleReviewModalContent {
  background-color:transparent;
  height: 600px;
  margin: 3rem;  /* this is roughtly 48px from top bottom */
  padding: 0;
  border: 1px solid #888;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  display: flex;
    flex-wrap: wrap;
  overflow: scroll; /* hides anything that goes beyond the limits of modal content*/
}

.svg{
  width:30px;
  height: 30px;
  cursor: pointer;
}
.ModalContent2 {
display: flex;
flex-wrap: wrap;
}